<launch>
  <!-- 启动D435相机 -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="color_width" value="640" />
    <arg name="color_height" value="480" />
    <arg name="depth_width" value="640" />
    <arg name="depth_height" value="480" />
    <arg name="align_depth" value="true" />
    <arg name="filters" value="pointcloud" />
  </include>
</launch>